{% extends 'index.html' %}
{% load static %}
{% block content %}
<!-- content begin -->
<div class="no-bottom no-top" id="content">
	<div id="top"></div>
	
	<!-- section begin -->
	<section id="subheader" data-bgimage="url({% static 'images/background/5.png' %}) bottom">
		<div class="center-y relative text-center" data-scroll-speed="4">
			<div class="container">
				<div class="row">
					<div class="col-md-8 offset-md-2">
						<form action='blank.php' class="row" id='form_subscribe' method="post" name="myForm">
							<div class="col text-center">
								<div class="spacer-single"></div>
								<h1>About Us</h1>
								<p>{{ about_us.heading }}</p>
							</div>
							<div class="clearfix"></div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- section close -->

	<section class="no-top" data-bgimage="url({% static 'images/background/6.png' %}) center">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-5 ">
					
					<img src="{% static 'images/misc/1.png' %}" class="img-fluid" alt="">
				</div>
				<div class="col-md-6 offset-md-1">
					<h3>{{ Different1.heading }}</h3>
					<p>{{ Different1.para1 }}</p>
					<p>{{ Different1.para2 }}</p>
				</div>
			</div>

			<div class="spacer-double"></div>

			<div class="row">
				<div class="col-md-12 text-center">
					<h3>Team Of Awesome</h3>
				</div>
				{% for mem in top_team_member %}
				<div class="col-lg-3 col-md-6 col-sm-6 mb-md-30">
					<div class="f-profile text-center">
						<div class="fp-wrap gray">
							<div class="fpw-overlay">
								<div class="fpwo-wrap">
									<div class="fpwow-icons">
										<a href="{{ mem.facebook }}"><i class="fa fa-facebook fa-lg"></i></a>
										<a href="{{ mem.twitter }}"><i class="fa fa-twitter fa-lg"></i></a>
										<a href="{{ mem.linkdin }}"><i class="fa fa-linkedin fa-lg"></i></a>
										<a href="{{ mem.google }}"><i class="fa fa-google-plus fa-lg"></i></a>
									</div>
								</div>
							</div>
							<div class="fpw-overlay-btm"></div>
							<img src="{{ mem.member_pic.url }}" class="fp-image img-fluid" alt="">
						</div>

						<h4>{{ mem.member_name }}</h4>
						{{ mem.member_role }}
					</div>
				</div>
				{% endfor %}

			</div>

			<div class="spacer-double"></div>

			<div class="row align-items-center">
				<div class="col-md-6">
					<h3>{{ Different2.heading }}</h3>
					<p>{{ Different2.para1 }}</p>
					<p>{{ Different2.para2 }}</p>
				</div>

				<div class="col-md-5  offset-md-1">
					<img src="{% static 'images/misc/5.png' %}" class="img-fluid" alt="">
				</div>
			</div>

			<div class="spacer-double"></div>
			<div class="padding40 round" data-bgcolor="#f5f5f5">
				<div class="row align-items-center">
					<div class="col-md-2">
						<h4 class="no-bottom">Our Clients</h4>
					</div>
					<div class="col-md-10">
						<div id="owl-logo" class="logo-carousel owl-carousel owl-theme">
							{% for tech in technologies %}
                            <img src="{{tech.icons.url}}" class="img-fluid" alt="" />
                            {% endfor %}
						</div>
					</div>
				</div>
			</div>

		</div>

	</section>

	<section class="pt60 pb60 bg-color-2 text-light">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-8 mb-sm-30 text-lg-left text-sm-center">
					<h3 class="no-bottom">{{ lets_do.ready_text }}</h3>
				</div>

				<div class="col-md-4 text-lg-right text-sm-center">
					<a href="#" class="btn-custom capsule med">{{ lets_do.ready_btn }}</a>
				</div>
			</div>
		</div>
	</section>

</div>
<!-- content close -->

{% endblock content %}