{% extends 'index.html' %}
{% load static %}
{% block content %}

<!-- content begin -->
<div class="no-bottom no-top" id="content">
    <div id="top"></div>
    <!-- section begin -->
    <section id="subheader" data-bgimage="url({% static 'images/background/5.png' %}) bottom">
        <div class="center-y relative text-center" data-scroll-speed="4">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <form action='blank.php' class="row" id='form_subscribe' method="post" name="myForm">
                            <div class="col-md-12 text-center">
                                <h1>Counters</h1>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section close -->


    <!-- section begin -->
    <section class="no-top">
        <div class="container">
            <div class="row">

                <div class="col-md-3 wow fadeIn" data-wow-delay="0">
                    <div class="de_count">
                        <h3 class="timer" data-to="2350" data-speed="2500">0</h3>
                        <span>Hours of Works</span>
                    </div>
                </div>

                <div class="col-md-3 wow fadeIn" data-wow-delay=".25s">
                    <div class="de_count">
                        <h3 class="timer" data-to="128" data-speed="2500">0</h3>
                        <span>Projects Complete</span>
                    </div>
                </div>

                <div class="col-md-3 wow fadeIn" data-wow-delay=".5s">
                    <div class="de_count">
                        <h3 class="timer" data-to="750" data-speed="2500">0</h3>
                        <span>Slice of Pizza</span>
                    </div>
                </div>

                <div class="col-md-3 wow fadeIn" data-wow-delay=".75s">
                    <div class="de_count">
                        <h3 class="timer" data-to="520" data-speed="2500">0</h3>
                        <span>Cups of Coffee</span>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- section close -->

</div>
<!-- content close -->


{% endblock content %}