{% extends 'index.html' %}
{% load static %}
<!-- header begin -->
{% endblock class %} transparent scroll-light {% endblock class %}
{% block logo %}
<div id="logo">
    <a href="index.html">
        <img alt="" class="logo" src="{% static 'images/logo-3-light.png' %}" />
        <img alt="" class="logo-2" src="{% static 'images/logo-3.png' %}" />
    </a>
</div>
{% endblock logo %}
{% block content %}
<!-- content begin -->
<div class="no-bottom no-top" id="content">
    <div id="top"></div>

    <section class="full-height relative no-top no-bottom vertical-center"
        data-bgimage="url(images/background/3.jpg) top" data-stellar-background-ratio=".5">
        <div class="overlay-gradient t50">
            <div class="center-y relative">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12 offset-md-0 text-light">
                            <h1 class="wow fadeInUp" data-wow-delay=".5s">Modern <span
                                    class="id-color">Co-working</span> Space for Your Success</h1>
                            <p class="lead wow fadeInUp" data-wow-delay=".75s">Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                magna aliqua.</p>
                        </div>

                        <div class="col-lg-4 offset-lg-2 text-center wow fadeIn" data-wow-delay=".5s">
                            <div class="box-rounded padding40" data-bgcolor="#ffffff">
                                <h3 class="mb10">Become a member</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                                </p>
                                <form name="contactForm" id='contact_form' class="form-border" method="post"
                                    action='blank.php'>

                                    <div class="field-set">
                                        <input type='text' name='name' id='name' class="form-control"
                                            placeholder="name">
                                    </div>

                                    <div class="field-set">
                                        <input type='text' name='email' id='email' class="form-control"
                                            placeholder="phone">
                                    </div>

                                    <div class="field-set">
                                        <input type='text' name='email' id='email' class="form-control"
                                            placeholder="email">
                                    </div>

                                    <div class="field-set">
                                        <input type='submit' id='send_message' value='Submit'
                                            class="btn btn-custom btn-fullwidth color-2">
                                    </div>

                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="section-text">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 mb-sm-30 text-center wow fadeInRight" data-wow-delay="0s">
                    <div class="de-images"> 
                        <img class="di-small" src="{% static 'images/misc/2.jpg' %}" alt="" />
                        <img class="di-small-2" src="{% static 'images/misc/3.jpg' %}" alt="" />
                        <img class="img-fluid" src="{% static 'images/misc/1.jpg' %}" alt="" />
                    </div>
                </div>

                <div class="col-lg-5 offset-md-1 wow fadeInLeft" data-wow-delay="0s">
                    <h2>Creative <span class="id-color">co-working</span> startup is take off here</h2>
                    <p class="lead">
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                        voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                        cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id
                        est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                    </p>
                    <div class="spacer-half"></div>
                    <a class="btn-border light" href="#">Get Started</a>
                </div>
            </div>
        </div>
    </section>

    <section id="section-services" data-bgcolor="#F5F9FD">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h2>Our Features</h2>
                        <div class="spacer-20"></div>
                    </div>
                    <div class="row">

                        <div class="col-lg-8 offset-lg-2 wow fadeInUp" data-wow-delay="0s">
                            <div class="row">

                                <div class="col-lg-6 mb30">
                                    <div class="f-box f-icon-left f-icon-rounded">
                                        <i class="fa fa-wifi bg-color text-light"></i>
                                        <div class="fb-text">
                                            <h4>Fast Wifi</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                eiusmod tempor incididunt.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 mb30">
                                    <div class="f-box f-icon-left f-icon-rounded">
                                        <i class="fa fa-group bg-color text-light"></i>
                                        <div class="fb-text">
                                            <h4>Team Desk</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                eiusmod tempor incididunt.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 mb30">
                                    <div class="f-box f-icon-left f-icon-rounded">
                                        <i class="fa fa-coffee bg-color text-light"></i>
                                        <div class="fb-text">
                                            <h4>Free Coffee</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                eiusmod tempor incididunt.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 mb30">
                                    <div class="f-box f-icon-left f-icon-rounded">
                                        <i class="fa fa-tags bg-color text-light"></i>
                                        <div class="fb-text">
                                            <h4>Special Price</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                eiusmod tempor incididunt.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
    </section>
    
    <section id="section-testimonial" class="text-light" data-bgimage="url({% static 'images/background/4.jpg' %}) top"
        data-stellar-background-ratio=".5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h2>What They Says</h2>
                        <div class="spacer-20"></div>
                    </div>
                    <div class="owl-carousel owl-theme wow fadeInUp" id="testimonial-carousel">
                        <div class="item">
                            <div class="de_testi opt-2">
                                <blockquote>
                                    <p>Great support, like i have never seen before. Thanks to the support team,
                                        they are very helpfull. This company provide customers great solution, that
                                        makes them best.
                                    </p>
                                    <div class="de_testi_by">
                                        <img alt="" class="rounded-circle" src="{% static 'images/people/1.jpg' %}"> <span>John,
                                            Pixar Studio</span>
                                    </div>
                                </blockquote>
                            </div>
                        </div>
                        <div class="item">
                            <div class="de_testi opt-2">
                                <blockquote>
                                    <p>Great support, like i have never seen before. Thanks to the support team,
                                        they are very helpfull. This company provide customers great solution, that
                                        makes them best.</p>
                                    <div class="de_testi_by">
                                        <img alt="" class="rounded-circle" src="{% static 'images/people/2.jpg' %}"> <span>Sarah,
                                            Microsoft</span>
                                    </div>
                                </blockquote>
                            </div>
                        </div>
                        <div class="item">
                            <div class="de_testi opt-2">
                                <blockquote>
                                    <p>Great support, like i have never seen before. Thanks to the support team,
                                        they are very helpfull. This company provide customers great solution, that
                                        makes them best.</p>
                                    <div class="de_testi_by">
                                        <img alt="" class="rounded-circle" src="{% static 'images/people/3.jpg' %}"> <span>Michael,
                                            Apple</span>
                                    </div>
                                </blockquote>
                            </div>
                        </div>
                        <div class="item">
                            <div class="de_testi opt-2">
                                <blockquote>
                                    <p>Great support, like i have never seen before. Thanks to the support team,
                                        they are very helpfull. This company provide customers great solution, that
                                        makes them best.</p>
                                    <div class="de_testi_by">
                                        <img alt="" class="rounded-circle" src="{% static 'images/people/4.jpg' %}"> <span>Thomas,
                                            Samsung</span>
                                    </div>
                                </blockquote>
                            </div>
                        </div>
                        <div class="item">
                            <div class="de_testi opt-2">
                                <blockquote>
                                    <p>Great support, like i have never seen before. Thanks to the support team,
                                        they are very helpfull. This company provide customers great solution, that
                                        makes them best.</p>
                                    <div class="de_testi_by">
                                        <img alt="" class="rounded-circle" src="{% static 'images/people/1.jpg' %}"> <span>John,
                                            Pixar Studio</span>
                                    </div>
                                </blockquote>
                            </div>
                        </div>
                        <div class="item">
                            <div class="de_testi opt-2">
                                <blockquote>
                                    <p>Great support, like i have never seen before. Thanks to the support team,
                                        they are very helpfull. This company provide customers great solution, that
                                        makes them best.</p>
                                    <div class="de_testi_by">
                                        <img alt="" class="rounded-circle" src="{% static 'images/people/2.jpg' %}"> <span>Sarah,
                                            Microsoft</span>
                                    </div>
                                </blockquote>
                            </div>
                        </div>
                        <div class="item">
                            <div class="de_testi opt-2">
                                <blockquote>
                                    <p>Great support, like i have never seen before. Thanks to the support team,
                                        they are very helpfull. This company provide customers great solution, that
                                        makes them best.</p>
                                    <div class="de_testi_by">
                                        <img alt="" class="rounded-circle" src="{% static 'images/people/3.jpg' %}"> <span>Michael,
                                            Apple</span>
                                    </div>
                                </blockquote>
                            </div>
                        </div>
                        <div class="item">
                            <div class="de_testi opt-2">
                                <blockquote>
                                    <p>Great support, like i have never seen before. Thanks to the support team,
                                        they are very helpfull. This company provide customers great solution, that
                                        makes them best.</p>
                                    <div class="de_testi_by">
                                        <img alt="" class="rounded-circle" src="{% static 'images/people/4.jpg' %}"> <span>Thomas,
                                            Samsung</span>
                                    </div>
                                </blockquote>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>


    <section id="section-pricing" data-bgcolor="#F5F9FD">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="text-center">
                        <h2>Select Your Plan</h2>
                        <div class="spacer-20"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col text-center">
                    <div class="switch-set">
                        <div>Monthly</div>
                        <div><input id="sw-1" class="switch" type="checkbox" /></div>
                        <div>Yearly</div>
                        <div class="spacer-20"></div>
                    </div>
                </div>
            </div>
            <div class="item pricing">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0s">
                            <div class="pricing-s1 mb30">
                                <div class="top">
                                    <h2>Basic</h2>
                                    <p class="plan-tagline">Best for personal</p>
                                </div>
                                <div class="mid text-light bg-color">
                                    <p class="price">
                                        <span class="currency">$</span>
                                        <span class="m opt-1">5.59</span>
                                        <span class="y opt-2">3.46</span>
                                        <span class="month">p/mo</span>
                                    </p>
                                </div>

                                <div class="bottom">
                                    <ul>
                                        <li><i class="fa fa-check"></i>Single Campaign</li>
                                        <li><i class="fa fa-check"></i>Website Design</li>
                                        <li><i class="fa fa-check"></i>Customer Polls</li>
                                        <li><i class="fa fa-check"></i>Question &amp; Comment</li>
                                        <li><i class="fa fa-check"></i>Backlink Checker</li>
                                        <li><i class="fa fa-check"></i>Key Words Analyser</li>
                                    </ul>
                                </div>

                                <div class="action">
                                    <a href="" class="btn-custom">Sign Up Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay=".25s">
                            <div class="pricing-s1 mb30">
                                <div class="top">
                                    <h2>Premium</h2>
                                    <p class="plan-tagline">Best for small group</p>
                                </div>

                                <div class="mid text-light bg-color">
                                    <p class="price">
                                        <span class="currency">$</span>
                                        <span class="m opt-1">9.59</span>
                                        <span class="y opt-2">7.46</span>
                                        <span class="month">p/mo</span>
                                    </p>
                                </div>
                                <div class="bottom">
                                    <ul>
                                        <li><i class="fa fa-check"></i>Double Campaign</li>
                                        <li><i class="fa fa-check"></i>Website Design</li>
                                        <li><i class="fa fa-check"></i>Customer Polls</li>
                                        <li><i class="fa fa-check"></i>Question &amp; Comment</li>
                                        <li><i class="fa fa-check"></i>Backlink Checker</li>
                                        <li><i class="fa fa-check"></i>Key Words Analyser</li>
                                    </ul>
                                </div>

                                <div class="action">
                                    <a href="" class="btn-custom">Sign Up Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay=".75s">
                            <div class="pricing-s1 mb30">
                                <div class="top">
                                    <h2>Business</h2>
                                    <p class="plan-tagline">Best for organization</p>
                                </div>
                                <div class="mid text-light bg-color">
                                    <p class="price">
                                        <span class="currency">$</span>
                                        <span class="m opt-1">24.99</span>
                                        <span class="y opt-2">16.49</span>
                                        <span class="month">p/mo</span>
                                    </p>
                                </div>
                                <div class="bottom">
                                    <ul>
                                        <li><i class="fa fa-check"></i>Triple Campaign</li>
                                        <li><i class="fa fa-check"></i>Website Design</li>
                                        <li><i class="fa fa-check"></i>Customer Polls</li>
                                        <li><i class="fa fa-check"></i>Question &amp; Comment</li>
                                        <li><i class="fa fa-check"></i>Backlink Checker</li>
                                        <li><i class="fa fa-check"></i>Key Words Analyser</li>
                                    </ul>
                                </div>

                                <div class="action">
                                    <a href="" class="btn-custom">Sign Up Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pt60 pb60 bg-color text-light">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8 mb-sm-30 text-lg-left text-sm-center">
                    <h3 class="no-bottom">Awesomeness begin here. Are you ready?</h3>
                </div>

                <div class="col-md-4 text-lg-right text-sm-center">
                    <a href="#" class="btn-border light">Book Your Space</a>
                </div>
            </div>
        </div>
    </section>

</div>
<!-- content close -->
{% endblock content %}
{% block footer_link %} images/logo-3-light.png {% endblock footer_link %}