{% extends 'index.html' %}
{% load static %}
{% block content %}

<!-- content begin -->
<div class="no-bottom no-top" id="content">
	<div id="top"></div>

	<!-- section begin -->
	<section id="subheader" data-bgimage="url({% static 'images/background/5.png' %}) bottom">
		<div class="center-y relative text-center" data-scroll-speed="4">
			<div class="container">
				<div class="row">
					<div class="col-md-8 offset-md-2">
						<form action='blank.php' class="row" id='form_subscribe' method="post" name="myForm">
							<div class="col-md-12 text-center">
								<h1>Modal</h1>
							</div>
							<div class="clearfix"></div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- section close -->


	<!-- section begin -->
	<section class="no-top">
		<div class="container">
			<div class="row">
				<div class="col-md-4 mb60">
					<h3>Modal demo</h3>
					<p>Live demo
						Toggle a working modal demo by clicking the button below. It will slide down and fade in
						from the top of the page.</p>
					<div class="spacer10"></div>


					<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
						Launch demo modal
					</button>

					<!-- Modal -->
					<div class="modal fade text-dark text-dark" id="exampleModal" tabindex="-1" role="dialog"
						aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<strong>You can put any text here.</strong> Lorem ipsum dolor sit amet,
									consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
									dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
									laboris nisi ut aliquip ex ea commodo consequat.
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									<button type="button" class="btn btn-primary">Save changes</button>
								</div>
							</div>
						</div>
					</div>


				</div>

				<div class="col-md-4 mb60">

					<h3>Static backdrop</h3>
					<p>When backdrop is set to static, the modal will not close when clicking outside it. Click the
						button below to try it.

					</p>
					<div class="spacer10"></div>

					<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
						Launch static backdrop modal
					</button>

					<!-- Modal -->
					<div class="modal fade text-dark" id="staticBackdrop" data-backdrop="static" tabindex="-1"
						role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<strong>You can put any text here.</strong> Lorem ipsum dolor sit amet,
									consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
									dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
									laboris nisi ut aliquip ex ea commodo consequat.
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									<button type="button" class="btn btn-primary">Understood</button>
								</div>
							</div>
						</div>
					</div>

				</div>

				<div class="col-md-4 mb60">

					<h3>Scrolling long content</h3>
					<p>When modals become too long for the user’s viewport or device, they scroll independent of the
						page itself. Try the demo below to see what we mean.

					</p>
					<div class="spacer10"></div>

					<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
						Launch demo modal
					</button>

					<!-- Modal -->
					<div class="modal fade text-dark" id="exampleModalLong" tabindex="-1" role="dialog"
						aria-labelledby="exampleModalLongTitle" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac
										facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac,
										vestibulum at eros.</p>

									<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus
										sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>

									<p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna,
										vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper
										nulla non metus auctor fringilla.</p>

									<p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac
										facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac,
										vestibulum at eros.</p>

									<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus
										sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>

									<p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna,
										vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper
										nulla non metus auctor fringilla.</p>

									<p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac
										facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac,
										vestibulum at eros.</p>

									<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus
										sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>

									<p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna,
										vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper
										nulla non metus auctor fringilla.</p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									<button type="button" class="btn btn-primary">Save changes</button>
								</div>
							</div>
						</div>
					</div>

				</div>

				<div class="col-md-4 mb60">

					<h3>Scrollable modal</h3>
					<p>Vertically centered scrollable modal.</p>
					<div class="spacer10"></div>

					<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
						Launch demo modal
					</button>

					<!-- Modal -->
					<div class="modal fade text-dark" id="exampleModalCenter" tabindex="-1" role="dialog"
						aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
						<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac
										facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac,
										vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl
										consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus
										dolor auctor.</p>

									<p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna,
										vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper
										nulla non metus auctor fringilla. Cras mattis consectetur purus sit amet
										fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
										Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>

									<p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac
										facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac,
										vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl
										consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus
										dolor auctor.</p>

									<p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna,
										vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper
										nulla non metus auctor fringilla. Cras mattis consectetur purus sit amet
										fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
										Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									<button type="button" class="btn btn-primary">Save changes</button>
								</div>
							</div>
						</div>
					</div>


				</div>

				<div class="col-md-8 mb60">

					<h3>Modal size</h3>
					<p>You can set size for modal.</p>
					<div class="spacer10"></div>

					<!-- Extra large modal -->
					<button type="button" class="btn btn-primary" data-toggle="modal"
						data-target=".bd-example-modal-xl">Extra large modal</button>

					<div class="modal fade text-dark bd-example-modal-xl" tabindex="-1" role="dialog"
						aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac
										facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac,
										vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl
										consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus
										dolor auctor.</p>

									<p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna,
										vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper
										nulla non metus auctor fringilla. Cras mattis consectetur purus sit amet
										fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
										Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									<button type="button" class="btn btn-primary">Save changes</button>
								</div>
							</div>
						</div>
					</div>

					<!-- Large modal -->
					<button type="button" class="btn btn-primary" data-toggle="modal"
						data-target=".bd-example-modal-lg">Large modal</button>

					<div class="modal fade text-dark bd-example-modal-lg" tabindex="-1" role="dialog"
						aria-labelledby="myLargeModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac
										facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac,
										vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl
										consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus
										dolor auctor.</p>

									<p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna,
										vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper
										nulla non metus auctor fringilla. Cras mattis consectetur purus sit amet
										fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
										Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									<button type="button" class="btn btn-primary">Save changes</button>
								</div>
							</div>
						</div>
					</div>

					<!-- Small modal -->
					<button type="button" class="btn btn-primary" data-toggle="modal"
						data-target=".bd-example-modal-sm">Small modal</button>

					<div class="modal fade text-dark bd-example-modal-sm" tabindex="-1" role="dialog"
						aria-labelledby="mySmallModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered modal-sm" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac
										facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac,
										vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl
										consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus
										dolor auctor.</p>

									<p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna,
										vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper
										nulla non metus auctor fringilla. Cras mattis consectetur purus sit amet
										fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
										Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									<button type="button" class="btn btn-primary">Save changes</button>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>
	</section>
	<!-- section close -->

</div>
<!-- content close -->

{% endblock content %}