{% extends 'index.html' %}
{% load static %}
{% block content %}

<!-- content begin -->
<div class="no-bottom no-top" id="content">
    <div id="top"></div>

    <!-- section begin -->
    <section id="subheader" data-bgimage="url({% static 'images/background/5.png' %}) bottom">
        <div class="center-y relative text-center" data-scroll-speed="4">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <form action='blank.php' class="row" id='form_subscribe' method="post" name="myForm">
                            <div class="col-md-12 text-center">
                                <h1>Our Story</h1>
                                <p>Awsome Page Teaser Here</p>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section close -->


    <section class="no-top pos-top relative">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <ul class="timeline">
                        <li>
                            <div class="timeline-badge"></div>
                            <div class="timeline-panel">
                                <div class="timeline-body">
                                    <div class="row">
                                        <div class="col-md-6 timeline-pic" data-bgimage="url({% static 'images/history/1.jpg' %})">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="timeline-story">
                                                <h5>2002</h5>
                                                <div class="clearfix"></div>
                                                <h4>Begin with idea</h4>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-badge"></div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="timeline-story">
                                            <h5>2004</h5>
                                            <div class="clearfix"></div>
                                            <h4>Begin with idea</h4>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 timeline-pic" data-bgimage="url({% static 'images/history/2.jpg' %})">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-badge"></div>
                            <div class="timeline-panel">
                                <div class="timeline-body">
                                    <div class="row">
                                        <div class="col-md-6 timeline-pic" data-bgimage="url({% static 'images/history/3.jpg' %})">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="timeline-story">
                                                <h5>2002</h5>
                                                <div class="clearfix"></div>
                                                <h4>Begin with idea</h4>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-badge"></div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="timeline-story">
                                            <h5>2004</h5>
                                            <div class="clearfix"></div>
                                            <h4>Begin with idea</h4>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 timeline-pic" data-bgimage="url({% static 'images/history/4.jpg' %})">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </section>

    <section class="pt60 pb60 bg-color-2 text-light">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8 mb-sm-30 text-lg-left text-sm-center">
                    <h3 class="no-bottom">Awesomeness begin here. Are you ready?</h3>
                </div>

                <div class="col-md-4 text-lg-right text-sm-center">
                    <a href="#" class="btn-custom capsule med">Let's do it!</a>
                </div>
            </div>
        </div>
    </section>

</div>
<!-- content close -->


{% endblock content %}