{% extends 'index.html' %}
{% load static %}
{% block content %}

<!-- content begin -->
<div class="no-bottom no-top" id="content">
    <div id="top"></div>

    <!-- section begin -->
    <section id="subheader" data-bgimage="url({% static 'images/background/5.png' %}) bottom">
        <div class="center-y relative text-center" data-scroll-speed="4">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <form action='blank.php' class="row" id='form_subscribe' method="post" name="myForm">
                            <div class="col-md-12 text-center">
                                <h1>Progress Bar</h1>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section close -->


    <!-- section begin -->
    <section class="no-top">
        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    <div class="skill-bar style-2">
                        <h5>Design</h5>
                        <div class="de-progress">
                            <div class="value"></div>
                            <div class="progress-bar" data-value="80%">
                            </div>
                        </div>
                    </div>

                    <div class="skill-bar style-2">
                        <h5>Branding</h5>
                        <div class="de-progress">
                            <div class="value"></div>
                            <div class="progress-bar" data-value="70%">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-4">
                    <div class="skill-bar style-2">
                        <h5>Marketing</h5>
                        <div class="de-progress">
                            <div class="value"></div>
                            <div class="progress-bar" data-value="70%">
                            </div>
                        </div>
                    </div>

                    <div class="skill-bar style-2">
                        <h5>Development</h5>
                        <div class="de-progress">
                            <div class="value"></div>
                            <div class="progress-bar" data-value="90%">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-4">
                    <div class="skill-bar style-2">
                        <h5>Photography</h5>
                        <div class="de-progress">
                            <div class="value"></div>
                            <div class="progress-bar" data-value="90%">
                            </div>
                        </div>
                    </div>

                    <div class="skill-bar style-2">
                        <h5>SEO</h5>
                        <div class="de-progress">
                            <div class="value"></div>
                            <div class="progress-bar" data-value="75%">
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <!-- section close -->

</div>
<!-- content close -->

{% endblock content %}