{% extends 'index.html' %}
{% load static %}
{% block content %}

<!-- content begin -->
<div class="no-bottom no-top" id="content">
	<div id="top"></div>

	<!-- section begin -->
	<section id="subheader" data-bgimage="url({% static 'images/background/5.png' %}) bottom">
		<div class="center-y relative text-center" data-scroll-speed="4">
			<div class="container">
				<div class="row">
					<div class="col-md-8 offset-md-2">
						<form action='blank.php' class="row" id='form_subscribe' method="post" name="myForm">
							<div class="col-md-12 text-center">
								<h1>Our Services</h1>
								<p>Awsome Page Teaser Here</p>
							</div>
							<div class="clearfix"></div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- section close -->


	<section id="section-features" class="no-top">
		<div class="container-fluid">
			<div class="row">
				<div id="owl-features" class="owl-carousel owl-theme">

					<div class="feature-box-type-2">
						<i class="fa fa-laptop "></i>
						<h4>Website Design</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
							ut labore et dolore magna aliqua.</p>
					</div>

					<div class="feature-box-type-2">
						<i class="fa fa-paper-plane-o"></i>
						<h4>Email Marketing</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
							ut labore et dolore magna aliqua.</p>
					</div>

					<div class="feature-box-type-2">
						<i class="fa fa-line-chart"></i>
						<h4>Digital Analytics</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
							ut labore et dolore magna aliqua.</p>
					</div>

					<div class="feature-box-type-2">
						<i class="fa fa-object-group"></i>
						<h4>Visual Editor</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
							ut labore et dolore magna aliqua.</p>
					</div>

					<div class="feature-box-type-2">
						<i class="fa fa-hdd-o"></i>
						<h4>Backup &amp; Security</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
							ut labore et dolore magna aliqua.</p>
					</div>

				</div>
			</div>
		</div>

		<div class="spacer-double"></div>

		<div class="container">
			<div class="padding40 round" data-bgcolor="#f5f5f5">
				<div class="row align-items-center">
					<div class="col-md-2">
						<h4 class="no-bottom">Our Clients</h4>
					</div>
					<div class="col-md-10">
						<div id="owl-logo" class="logo-carousel owl-carousel owl-theme">
							<img src="{% static 'images/logo-clients/1.png' %}" class="img-fluid" alt="">
							<img src="{% static 'images/logo-clients/2.png' %}" class="img-fluid" alt="">
							<img src="{% static 'images/logo-clients/3.png' %}" class="img-fluid" alt="">
							<img src="{% static 'images/logo-clients/4.png' %}" class="img-fluid" alt="">
							<img src="{% static 'images/logo-clients/5.png' %}" class="img-fluid" alt="">
							<img src="{% static 'images/logo-clients/6.png' %}" class="img-fluid" alt="">
							<img src="{% static 'images/logo-clients/7.png' %}" class="img-fluid" alt="">
							<img src="{% static 'images/logo-clients/8.png' %}" class="img-fluid" alt="">
						</div>
					</div>
				</div>
	</section>

	<section class="pt60 pb60 bg-color-2 text-light">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-8 mb-sm-30 text-lg-left text-sm-center">
					<h3 class="no-bottom">Awesomeness begin here. Are you ready?</h3>
				</div>

				<div class="col-md-4 text-lg-right text-sm-center">
					<a href="#" class="btn-custom capsule med">Let's do it!</a>
				</div>
			</div>
		</div>
	</section>

</div>
<!-- content close -->


{% endblock content %}